/* CSS RESET */

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(11, 27, 10);
    font-family: 'Nunito', sans-serif;
    background:url(/2.jpg)no-repeat  center center fixed;
    background-size: cover;
}

.header{
    color: rgb(255, 251, 251);
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
}

.left{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 15px;
    width: 5%;
}
.left img{
    height: 45px;
    padding: 5px 10px;
    align-items: center;
}

.left div{
    padding: 3px 10px;
    text-align: center;
    font-size: 8px;
}
    


.mid{
    /* border: 2px solid green; */
    display: block;
    width:80%;
    margin: 25px auto;

}

.navbar{
    display: inline-block;   
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    color: white;   
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}


.navbar li a:hover,.navbar li a.active{
    color: white;   
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    text-decoration: underline;
    color: chocolate;
}

.right{
    /* border: 2px solid yellow; */
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 5px;
    
}


.btn{
    font-family: 'Nunito', sans-serif;
    border:none;
    background-color: rgb(255, 0, 34);
    color: rgb(2, 0, 0);
    padding: 3px 14px;
    cursor: pointer;
    margin: 10px 15px;
    border-radius: 8px;
}

.btn:hover{
    background-color: blue;
    color: white;
}

.container{
    /* border: 2px solid black; */
    border-radius: 15px;
    display: inline-block;
    margin: 45px 60px;
    height: 330px;
    width: 550px;
}

h1{
    color: white;
    text-align: center;
}

.form-group input{
    text-align: center;
    display: block;
    width: 350px;
    padding: 2px;
    margin: 3px auto;
    border-radius: 20px;
    /* border:2px solid black; */
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;

}

.container .btn{
    display: block;
    width: 65%;
    margin:35px auto;
}
